DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stocksense?schema=public"
JWT_SECRET="stocksense_super_secret_jwt_key_hackathon_2026"
JWT_EXPIRES_IN="7d"
JWT_RESET_EXPIRES_IN="15m"
PORT=3000
NODE_ENV="development"
